body {
  text-align: center;
  color: white;
  background-color: #64686e;
  margin: 0;
  padding: 0;
}

.navbar {
  height: 40px;
  width: 100%;
  background-color: #23272f;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 40px;
  font-size: 25px;
}

.homebutton {
  margin: 0;
  width: 60;
}

.homebutton div{
  text-indent: -9999px;
  background-image: url('./search.png');
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  height:60px;
  width: 60px;
  background-size: contain;
  border-radius: 100%;
}

.home {
  margin-top: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 80%;
  height: 100%;
  background-color: #23272f;
  margin-left: 10%;
  justify-content: center;
  align-items: center;
  min-height: 1500px;
}

.header {
  background-color: #444950;
  border-radius: 7px;
  font-family: Optimistic Display,-apple-system,ui-sans-serif,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  max-width: 100%;
  margin: 0 auto;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header h1{
  font-size: 80px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.header h2 {
  font-size: 30px;
}

.header p {
  font-size: 20px;
  max-width: 600px;
  margin-top: 25px;
}

.search {
  margin-top: 20px;
}

.search form .searchbar {
  width: 1000px; 
  background-color: #64686e;
  height: 60px;
  font-size: 20px;
  border-radius: 6px;
  margin: 40px 10px 40px 10px;
  background-color: #64686e;
  border: none;
}

.search form .submit {
  text-indent: -9999px;
  background-image: url('./search.png');
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  height:60px;
  width: 60px;
  background-size: contain;
  border-radius: 100%;
}

.links {
  border-radius: 4px;
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

a {
  color: white;
}

small {
  margin-bottom: 50px;
}

.text {
  margin: 20px 100px;
  background-color: #424854;
  font-family: Verdana;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.responses {
  margin: 20px;
}
